img {
	width: 30%;
	float: left;
	margin: 1.66%;

}

p {
	font-size: 2em;
	font-family: 'Caveat', cursive;
	margin-left: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}


/*@media only screen and (max-width: 700px) {
  body {
    background-color: lightblue;
  }

  img {
  	width: 100%; 	
  	
  }

  p {
  	text-align: center;
  }
}*/


@media screen and (max-width: 800px) {
  img {
    /*flex: 50%;*/
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  img {
   /* flex: 100%;*/
    max-width: 100%;
  }
}
